@use '../custom' as *;

.btn-rounded {
  position: relative;
  padding: .25rem .9rem;
  font-weight: 500;
  margin: 0;
  border: 0.1rem solid rgba($black, 0.6);
}

.content-dropdown {
  position: absolute;
  display: flex;
  right: 0%;
  color: white;

  button:hover {
    text-decoration: underline;
  }

  button {
    transition: 250ms;
  }
}